// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.player-name {
  margin-left: -35px;
  vertical-align: middle;
}
.player-score {
  margin: 10px 0;
  height: 100px;
  font-size: 30px;
  text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
  
}
.player-avatar {
  height: 80%;
  padding: 2px;
  border: 2px solid black;
}
.avatar {
  height: 55px;
  width: 55px;
  border: 2px solid black;
  float: left;
}

.avatar-name, .score {
  float: right;
  padding: 5px 0 3px 10px;
  font-size: 45px;
}

.scorecard a {
  vertical-align: middle;
  color: #363636;
}

.scorecard h1 {
  margin: 0;
}

.panel {
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px grey;
}
